<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with model: @user, 
      url: users_registrations_path, 
      method: :post, 
      class: "space-y-4", 
      data: {
        controller: "autosave", 
        autosave_target: "form", 
        action: "turbo:submit-end->autosave#success turbo:fetch-request-error->autosave#error"
      } do |f| %>
      <div data-autosave-target="status" class="hidden"></div>
      <div>
        <%= f.label :name, class: "block text-sm font-medium leading-6 text-white" %>
        <div class="mt-2">
          <%= f.text_field :name, class: "block px-2 w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= f.label :email, class: "block text-sm font-medium leading-6 text-white" %>
        <div class="mt-2">
          <%= f.email_field :email, class: "block px-2 w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= f.label :password, class: "block text-sm font-medium leading-6 text-white" %>
        <div class="mt-2">
          <%= f.password_field :password, class: "block px-2 w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6", data: { password_strength_target: "password", action: "input->autosave#save" } %>
        </div>
        <%= render "password_feedback", user: f.object.tap(&:valid?) %>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sign in</button>
      </div>

      <template data-password-strength-target="passIcon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </template>

      <template data-password-strength-target="failIcon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </template>
    <% end %>
  </div>
</div>